[project]
	description = Officially supported Scala Driver for MongoDB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Santiago M. Mola (smola)
[access "refs/for/refs/*"]
	read = group user/Santiago M. Mola (smola)
	push = group user/Santiago M. Mola (smola)
	label-Code-Review = -2..+2 group user/Santiago M. Mola (smola)
	label-Verified = -1..+1 group user/Santiago M. Mola (smola)
	rebase = group user/Santiago M. Mola (smola)
	removeReviewer = group user/Santiago M. Mola (smola)
	submit = group user/Santiago M. Mola (smola)
[access "refs/heads/*"]
	read = group user/Santiago M. Mola (smola)
	create = group user/Santiago M. Mola (smola)
	push = +force group user/Santiago M. Mola (smola)
	pushMerge = group user/Santiago M. Mola (smola)
[access "refs/tags/*"]
	push = +force group user/Santiago M. Mola (smola)
	pushTag = group user/Santiago M. Mola (smola)
	pushSignedTag = group user/Santiago M. Mola (smola)
